# Database Configuration - Development (SQLite)
DB_TYPE_DEV=sqlite
DB_DATABASE_DEV=./src/database/database.sqlite

# Database Configuration - Production (PostgreSQL)
DB_TYPE_PROD=postgres
DB_HOST_PROD=localhost
DB_PORT_PROD=5432
DB_USERNAME_PROD=postgres
DB_PASSWORD_PROD=sua-senha-aqui
DB_DATABASE_PROD=nome-do-seu-banco-aqui

# Application Configuration
PORT=3000
NODE_ENV=development

# JWT Secret
JWT_SECRET=batata
JWT_EXPIRES_IN=7d


# Firebase Config
FIREBASE_API_KEY=
FIREBASE_AUTH_DOMAIN=
FIREBASE_PROJECT_ID=
FIREBASE_STORAGE_BUCKET=
FIREBASE_MESSAGING_SENDER_ID=
FIREBASE_APP_ID=
FIREBASE_MEASUREMENT_ID=
FIREBASE_BUCKET_NAME=